/*.loginForm{
  display:none;
}
.registerForm{
  background-color: #13232f;
  width: 60%;
}
.registerForm :nth-child(3){
  display: block;
}
*/

body{

}
.loginForm, .registerForm{
  display:none;
  clear:both;
}
.forms button{
  display: block;
  width: 100%;
  background: #1ab188;
  padding: 8px 0;
  margin-top: 30px;
  border: 0;
  outline: none;
}
.forms{
  background-color: #13232f;
  width: 52%;
  color:white;
  padding: 36px;
  /*height: 100%;*/
}
.forms p{
  float: left;
}
.tabsGroup{
  background-color: #333;
  padding: 0;
  margin: 0 0 20px 0;
}
.btnTabs{
  width: 50%;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background: rgba(160, 179, 176, 0.25);
}
.btnTabs:hover {
  background: #179b77;
  transition: .5s ease;
}
.forms button:hover{
  background: #179b77;
  transition: all 0.5s ease;
}
.activeTabBtn{
  background-color: #1ab188;
}
.forms input{
  width: 32%;
  margin-right: 1%;
  height: 36px;
  background: #13232f;
  border: 1px solid #a0b3b0;
  outline: none;
}
.forms input:focus{
  outline: 0;
  border-color: #1ab188;
}
.forms input:last-child{
  margin-right: 0;
}
.loginForm input{
  width: 49%;
  margin-right: 1%;
}
.inputWrapper{
  /*margin-top: 30px; has noo effect*/
  padding-top: 30px;
}
.white{
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}